/* Global Start */
:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F4266;
  --hero-bg: #2E2F42B2;
  --white-bg: #FFFFFF;
  --modal-bg: #FCFCFC;
}
body {
  color: var(--text);
  background-color: var(--white-bg);
  font-family: 'Roboto', sans-serif;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: inherit;
}
/* Hover and Focus Start */
.nav-li a:hover, .nav-li a:focus {
  color: #404BBF;
}
.addr-li a:hover, .addr-li a:focus {
  color: #404BBF;
}
.footer-p:hover {
  color: #404BBF
}
/* Hover and Focus End */
/* Global End */

/*Home Page Start*/
.navbar {
  list-style: none;
}
.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-logo-span {
  color: var(--dark);
}
.logo-span {
  color: var(--light);
}
.nav-list-item {
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover, .link:focus {
  color: #404BBF;
}
.address-section {
  font-style: normal;
}
.addr-ul {
  list-style: none;
}
.addr-a {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.main-section {
  background-color: var(--dark);
}
.main-title {
  color: var(--white-bg);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-btn {
  color: var(--white-bg);
  background-color: var(--primary-brand);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--pressed-state);
}
.features-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.features-header {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.third-title {
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.ourteam-section {
  background-color: var(--light);
}
.ourteam-title {
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.ourteam-card {
  background-color: var(--white-bg);
}
.ourteam-header {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.ourteam-p {
  color: var(--text);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-section {
  background-color: var(--dark);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer-p {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Home Page End*/
/* Portfolio Start */
.portfolio-filters-header {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-filters-p {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-btn {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--white-bg);
  background-color: var(--pressed-state);
}
/* Portfolio End */